@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
	--very-dark-blue: hsl(233, 47%, 7%); /*(main background)*/
	--dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
	--soft-violet: hsl(277, 64%, 61%); /*(accent)*/
	--white: hsl(0, 0%, 100%); /*(main heading, stats)*/
	--slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
	min-height: 100vh;
	background: var(--very-dark-blue);
	display: flex;
	align-items: center;
	font-size: 15px;
}
.container {
	min-width: 100%;
	margin: 0 auto;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--dark-desaturated-blue);
	border-radius: 10px;
	overflow: hidden;
	margin: 12em;
}
.img {
	position: relative;
	width: 100%;
	object-fit: cover;
}

.img::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: hsla(277, 64%, 45%, 0.6);
}

.text-component {
	padding: 13%;
}

.title {
	color: var(--white);
	font-weight: 700;
	padding-bottom: 22px;
}
.subtitle {
	color: var(--slightly-transparent-white);
	line-height: 1.8;
}
.stat-box {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	padding-top: 60px;
}
.stat-box .num {
	color: var(--white);
	font-size: 25px;
	font-weight: 700;
}

.stat-box p {
	color: var(--slightly-transparent-white);
	padding-top: 7px;
}

span {
	color: var(--soft-violet);
}